{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@data/(.*)$",
    "^@hooks/(.*)$",
    "^@store/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
}
